@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto');
@font-face {
    font-family: "Cookie Monster";
    src: url(../font/cookie-monster.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    color: #707070;
    font-family: "Cookie Monster";
    line-height: normal;
}

html {
    background-color: #F3C4BB;
}

body {
    min-width: 240px;
    min-height: 360px;
    padding: 4%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.no-uwu {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}

#uwu-face {
    font-size: 64px;
    font-weight: 500;
}

#uwu-dialogue {
    min-height: 40%;
    padding: 8px;
    margin-bottom: 48px;
    border-radius: 16px;
    background-color: #FEFBF5;
}

#uwu-toggle {
    padding: 4px;
    border-radius: 16px;
    background-color: #FCE5EF;
    border: solid;
    border-color: #DBA3CE;
    text-align: center;
}

#uwu-toggle:hover {
    cursor: pointer;
    background-color: #DBA3CE;
}